<% if user_signed_in? %>
      <% if !current_user.subscribed %>
            <script type="text/javascript">
                window.location.href="subscribers/new"
             </script>
            <% redirect_to new_subscriber_path %>
      <% end %>
<% end %>
<p id="notice"><%= notice %></p>

<%= link_to 'Prijava',new_user_session_path if !user_signed_in? %>
<%= link_to 'Odjava',destroy_user_session_path, method: :delete if user_signed_in? %>
<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">My watchlist</h1>
          <%= if user_signed_in?
              current_user.watchlists.each do |wachlist|
                wachlist.movie.title
              end
          end%>
          <%= if !user_signed_in?
              link_to 'Create an account to get a watchlist', new_user_registration_url
          end%>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <h1 style="margin:0 auto; text-align:center;">Upcoming movies</h1>
        <div class="container">

          <div class="row">
            <% @trailers.each do |trailer| %>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <iframe style="height: 225px; width: 100%; display: block;"  class="card-img-top" src='https://www.youtube.com/embed/<%= trailer.videoId %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen  class="tra"></iframe>
                </div>
              </div>
            <% end %>
          </div>
          <br>
          <div class="row">
            <h1 style="margin:0 auto; text-align:center;">Top movies</h1>
            <% @movies.each do |movie| %>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <%= link_to (image_tag 'https://image.tmdb.org/t/p/w300/' + movie.poster_path, :style =>"width: 100%;" ), movie_path(movie.id), :class=> "card-img-top", :style=>"height: 650px; width: 100%; display: block;" %>
                  <div class="card-body">
                    <h3 class="card-text"><%= movie.title %></h3>
                    <p class="card-text">Release date: <%= movie.release_date %></p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </main>
