<% if user_signed_in? %>
      <% if !current_user.subscribed %>
            <script type="text/javascript">
                window.location.href="subscribers/new"
             </script>
      <% end %>
<% end %>
<p id="notice"><%= notice %></p>

<div class="back">
<%= link_to 'Back', movies_path %>
</div>

<div class="slika2">
<%= image_tag 'https://image.tmdb.org/t/p/w1280/' + @movie.backdrop_path %>
</div>

<div class="naslov2">
<h2><%= @movie.title %></h2>
</div>

<div class="podatki">
Average vote:
<%= @movie.average_vote %>
<%= @movie.overview %>
Release Date: <%= (@movie.release_date).to_time.strftime(' %b %d %Y') %>
Duration: <%= @movie.runtime %>m
<div>
<%= link_to watchlist_text, watchlists_update_path(movie: @movie), id:'wachlist_link', remote: true %>

</div>

</div>
